/*.boxmodel {
	border: 0px solid;
	margin: 200px 40px;
}*/
/*.container {
height: 10em;
position: relative;
}
.container h1{
	margin: 0;
	position: absolute;
	top: 50%;
	transform:translate(0, 50%)
} */
.container{
	display: flex;
	justify-content: center;
	align-self: center;
}
body {
	background-image: url(https://images.unsplash.com/photo-1493275396257-7df0f22e0c88?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=86265f685da989d6426e28402dd18d74&auto=format&fit=crop&w=751&q=80);
	background-size: cover;
}
h1 {
	text-align: center;
	color: #C25D7F;
	font-family: Oswald, sans-serif;
	font-size: 400%;
}
.btn-info {
	margin: 10px 350px;
	color: #6B9DA9;
	text-transform: uppercase;
	background-color: #88133A;
	font-family: Oswald, sans-serif;
	font-size: 30px;
	border-radius: 400px;
	padding: 1rem 2rem;
}
.btn-info:hover {
	background-color: #A45770;
}